
<% if current_user.admin? %>
<html>
<body>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
  <%=form_for(@produto) do |f| %>

  <%= f.label :nome, "Nome" %>
  <%= f.text_field :nome, class: 'form-control' %>

  <%= f.label :descricao, "Descrição" %>
  <%= f.text_field :descricao, class: 'form-control' %>
  <%= f.label :quantidade, "Quantidade" %>
  <%= f.text_field :quantidade, class: 'form-control' %>

  <%= f.label :preco, "Preço" %>
  <%= f.text_field :preco, class: 'form-control' %>

<%= f.submit "Criar produto", class: "btn btn-primary" %>

<% end %>
</div>
</div>
</body>
<%= link_to 'Retornar', produtos_path %>
</html>
<% else %>

<div class="center jumbotron">
  <h1>Loja de camisetas</h1>

  <h2>
    Opss, se perdeu?
  </h2>

</div>

<% end %>
