<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <%= form_for(@usuario) do |f| %>

      <%= f.label :usuario, "Usuário" %>
      <%= f.text_field :usuario %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmar senha" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Criar minha conta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
